name: Pull request

on:
  push:
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Checkout
        uses: actions/checkout@v3

      - name: Get
        run: flutter pub get

      - name: Test
        run: flutter test --coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3

  format_and_analyze:
    needs:
      - test
    name: Format and Analyze
    runs-on: ubuntu-latest
    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Checkout
        uses: actions/checkout@v3

      - name: Get
        run: flutter pub get

      - name: Format
        run: dart format --set-exit-if-changed .

      - name: Dart Analyze
        run: dart analyze

      - name: Check nullable code
        run: flutter pub run dart_code_metrics:metrics check-unnecessary-nullable lib

      - name: Check unused files
        run: flutter pub run dart_code_metrics:metrics check-unused-files lib

      - name: Check unused localizations
        run: flutter pub run dart_code_metrics:metrics check-unused-l10n lib

      - name: Check unused code
        run: flutter pub run dart_code_metrics:metrics check-unused-code lib

  # Make a job with the title of pull request contains "flutter_native_splash" and only on opened pull request
  native_splash:
    if: contains(github.event.pull_request.title, 'flutter_native_splash') && (github.event.action == 'opened' || github.event.action == 'synchronize')
    needs:
      - format_and_analyze
    name: Flutter Native Splash
    runs-on: ubuntu-latest

    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Get
        run: flutter pub get

      - name: Flutter Native Splash
        run: flutter pub run flutter_native_splash:create

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Update native splash'

  # Check if environment is correct
  check_env:
    needs:
      - format_and_analyze
    name: Check environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check environment
        run: |
          result=$(cat lib/utils.dart | grep -v "//" | grep "serverUrl" | sed -e 's/^[ \t]*//' -e 's/[ \t]*$//' | sed 's/.*"\(.*\)".*/\1/')
          
          if [ "$result" != "beta-api.ziedelth.fr" ]; then
            echo "Environment is not correct"
            exit 1
          fi
